[2013-02-11 21:18] mniepert opened #1 "[IndexOutOfBoundsException: Index: 4, Size: 4]"
http://drachten.informatik.uni-mannheim.de/link/dbpedia/thinker:t2474

Execution exception
[IndexOutOfBoundsException: Index: 4, Size: 4]
In /opt/lode/app/views/enhancers/link_entity.scala.html at line 42.
39                      }
40              } else {
41                  @for(i <- 0 to sparqlcontrollers.Setting.L_PROPERTIES-1) {
42                          @displayProperty(ec.getAttributes().

[2013-02-11 21:22] mniepert opened #2 "More direct way to the linking interfaces"
In the browsing interface, the sameAs Link column lists the symbols for DBpedia and InPhO (and, in the future, more repositories). A click on a grey symbol should lead the user directly to the linking page for the respective repository. For instance, when clicking on the grayed icon for DBpedia, the user should get directly to the DBpedia linking interface.

[2013-02-11 21:24] mniepert opened #3 "[IllegalArgumentException: URLDecoder: Illegal hex characters in escape (%) pattern - For input string: "" "]"
Examples:

http://drachten.informatik.uni-mannheim.de/link/dbpedia/thinker:t2910
http://drachten.informatik.uni-mannheim.de/link/dbpedia/entity:e16

Execution exception
[IllegalArgumentException: URLDecoder: Illegal hex characters in escape (%) pattern - For input string: "" "]
In /opt/lode/app/utils/StringUtil.java at line 61.
58        String result = new String(s);
59
60        try {
61

[2013-02-12 19:09] mniepert opened #4 "[QueryExceptionHTTP: Bandwidth Limit Exceeded]"
Occurs frequently.

Execution exception
[QueryExceptionHTTP: Bandwidth Limit Exceeded]
In /opt/lode/app/sparqlcontrollers/Sparql.java at line 24.
21    {
22        QueryExecution qexec = Sparql.prepare(request, destination);
23
24        ResultSet results = qexec.execSelect();
25        List<QuerySolution> result = ResultSetFormatter.toList(results);
26        qexec.close();
27
28        return re

[2013-02-12 21:44] mniepert opened #5 "[IndexOutOfBoundsException: Index: 0, Size: 0]"
http://drachten.informatik.uni-mannheim.de/link/dbpedia/thinker:t3738

Execution exception
[IndexOutOfBoundsException: Index: 0, Size: 0]
In /opt/lode/app/utils/ResUtil.java at line 101.
98
99        // store the most frequent properties
100        for(int i = 0; (i < numLit && i < numRes) || i < sortedProperties.size(); i++) {
101            PropertyContainer pair = sortedProperties.get(i);
102

[2013-02-13 01:39] mniepert opened #6 "Keep track of statistics"
Whenever links are established, the position in the proposed list should be logged for data collection/statistical purposes.

Source-URI (instance, object), date, position of the chosen entity in the link candidates list or whether the user has not chosen anything/there was only an empty list.

[2013-02-13 01:40] mniepert opened #7 "Restrict drag and drop possibilities in the enhancer"
This concerns the enhancing interface.

When dragging a DBpedia entity (e.g., a concept) make only those properties have a + symbol where it makes sense. For instance, when moving a class (e.g. Person) then don't have + symbols for datatype properties.

[2013-02-13 01:41] mniepert opened #8 "About page"
Let's have a "About page" similar to that of the InPhO project. Also linking to the InPhO project and mentioning the DFG funding.

[2013-02-13 01:42] mniepert opened #9 "Create possibility to delete links and assertions"
Users should be able to delete links and enhancements. However, this does not have the highest priority right now!

[2013-02-13 01:43] mniepert opened #10 "Error when changing settings for linker"
Error when setting in configuration are changed (e.g., number of properties for linker from 3 to 5): 3179 (Martin Hein...) -> Linker (Index out of bound Exception)

[2013-02-13 01:45] mniepert opened #11 "Cluster entities according to sameAs relationships"
Always list canonical entities with their concepts, now there is one entry in the list for each canonical entity<->concept correspondence (example: Hannah Arendt). Nur tatsächlich vorhandene type-beziehungen (concept-assertions) werden angezeigt. Wenn zwei vorhanden sind, werden zwei angezeigt. Grund: fehlendes Resoning in RDF). Clustern alle, die eine Same as relation haben. Bei klick auf + Symbo

[2013-02-13 19:57] sztyler commented on #8
complete in revision e3f6018b

[2013-02-13 19:57] #8 closed, assigned to jnoessner

[2013-02-14 01:18] mniepert opened #12 "Make tool tips for concept and property URIs clickable"
One of the advantages of RDF is that it makes each object dereferencable, that is, each URI can be entered into a browser to get a description of the entity. Of course, this is also true for concepts and properties. To allow users to better understand the properties offered in the repositories, the tool tips should be clickable URIs. For instance, the ObjectProperty "subject" with the URI http://p

[2013-02-14 13:24] sztyler commented on #5
should be fixed in master 24e44f1

[2013-02-14 13:24] #5 closed, assigned to sztyler

[2013-02-14 13:28] sztyler commented on #4
QueryExceptionHTTP error page redesgined (see attachment)
![errorPage](https://f.cloud.github.com/assets/3532545/156841/46e283f8-76aa-11e2-97c4-06b5a637e163.png)

fixed in master 24e44f1

[2013-02-14 13:28] #4 closed, assigned to sztyler

[2013-02-14 13:33] sztyler commented on #1
should be fixed in master a7a6350

[2013-02-14 13:33] #1 closed, assigned to sztyler

[2013-02-14 21:56] mniepert opened #13 "The curious case of Michael Martin"
Ich war mal wieder am LODE-Browsen und bin auf den Fall Michael Martin
gestossen.

http://lode.informatik.uni-mannheim.de/link/dbpedia/entity:e3536

Im Linker tauchen der Eintrag "Michael Martin" und ein paar andere
Personen auf, die den Namen Michael Martin XYZ haben, also mit
Erstnamen Michael und mit Zweitnamen Martin heissen. Der erste Hit ist
das Objekt, das fuer die Disambiguierungsseite in

[2013-02-15 08:00] jnoessner opened #14 "Browser: zeige etwas wenn man auf ein konzept klickt"
Jan: wenn man ohne etwas einzugeben auf ein konzept klickt, dann kommen alle instanzen zu dem konzept.. Denke, das wuerde den einstieg stark erleichtern.

Mathias: Das wuerde ich auch gerne umgesetzt sehen. Wichtig ist, dass man
generell mit limits und offsets arbeitet (und "more" Links) und evtl.
als Benutzer diesen limit einstellen kann.

Jan: oder man stellt auf so eine tabelle um, die mehrere

[2013-02-15 13:19] sztyler commented on #7
Should be fixed in revision [master 833fa27]

[2013-02-15 13:19] #7 closed, assigned to sztyler

[2013-02-15 13:24] sztyler commented on #3
Is there any way to reproduce this problem?

[2013-02-15 13:29] sztyler commented on #10
should be fixed in revision [master a7a6350]

[2013-02-15 13:29] #10 closed, assigned to sztyler

[2013-02-15 19:43] mniepert opened #15 "Beautify footer of site"
eine Bitte habe ich noch, fuer die neue Produktion-Server Version.
Koennt ihr bitte den Footer der Seite dem des InPhO Projekts aehneln
lassen?

https://inpho.cogs.indiana.edu/

Hier koennen wir statt einem Logo, drei nehmen (z.B.:)

http://www.cs.washington.edu/images/logo/CSElogoText_1000.jpg
http://en.wikipedia.org/wiki/File:Indiana_University_seal.svg
http://upload.wikimedia.org/wikipedia/comm

[2013-02-15 19:44] mniepert commented on #3
I'm not able to replicate the error because the URLs mentioned above return a weird page saying "error-no-person-bla". Not sure if that's because the URI doesn't exist anymore.

[2013-02-15 19:47] mniepert opened #16 "Three letters in search interface return list without name, concept, sameAs links filled in"
How to reproduce on current production system (lode.*):

Go to content interface http://lode.informatik.uni-mannheim.de/content
Type in three letters (for instance "tem"). A list of entities and thinkers is shown but the columns "name", "concepts", "sameAs Links" are not populated.

[2013-02-15 23:42] mniepert commented on #13
Another good example for this type of unwanted behavior is "Peter Abelard"

[2013-02-16 16:54] sztyler commented on #3
please try to search the persons again

[2013-02-16 21:19] jakob0910 commented on #2
I implemented this feature but there are still some questions we should clarify.
As we support only DBpedia as linking and enhancement resource at the moment, it is not possible to call the linker or enhancer for e.g. InPho. So, we would only show the grey DBpedia icon if no sameAs link exists.

What happens if an entity is linked to one or more resources? Originally we planned that the colored ic

[2013-02-16 21:23] jakob0910 commented on #15
Ist das so ok?
![lode-footer](https://f.cloud.github.com/assets/3485169/164166/d35c33c6-787e-11e2-9481-b1ec63619515.PNG)

Ich habe für Mannheim ein anderes Logo genommen, da dann alle das gleiche Format haben.

[2013-02-17 02:12] mniepert commented on #3
It seems to work now (I found the entity for the id). The issue can be closed.

[2013-02-17 02:15] mniepert commented on #15
Ja, sieht klasse aus. Danke!

[2013-02-17 02:15] #15 closed, assigned to jakob0910

[2013-02-17 17:06] sztyler commented on #3
I could reproduce this problem with another entity.

[2013-02-17 17:07] sztyler commented on #3
fixed in revision [master dc58d31e]

[2013-02-17 17:07] #3 closed, assigned to sztyler

[2013-02-17 17:10] sztyler commented on #16
Is this really a bug? - I mean - how long did you wait? - the columns "name", "concepts" and "sameAs Links" will loaded asynchronously - so if the search returned a lot of entry it can take some time if the columns are also loaded.

[2013-02-17 18:11] mniepert commented on #16
I waited a looong time! :) Also, the numbers in the concept buttons are smaller than 100 (e.g., search term "her")

[2013-02-17 18:14] jakob0910 commented on #16
I will investigate this. There will be some changes when issue #14 is implemented.

[2013-02-17 18:48] mniepert commented on #13
Additional test case: Anna Maria van Schurman

[2013-02-17 18:56] mniepert opened #17 "Add link back to data overview page from enhancer"
The enhancer page of entities (e.g., thinker:t2549) should have a link back to the overview page for that particular entity. I think it would be best to make "thinker:t2549" in the "Enhance thinker:t2549 with data from..." header a link.

[2013-02-17 23:32] jakob0910 commented on #16
I am not sure what caused this problem but it is not reproducible after I made some changes regarding the search interface.

[2013-02-17 23:32] #16 closed, assigned to jakob0910

[2013-02-17 23:47] jakob0910 commented on #14
Ich habe damit begonnen, aber es gibt noch ein paar Probleme, die mehr oder weniger auch mit Issue #11 zusammenhängen. Aktuell habe ich mich für die Variante mit mehreren Seiten entschieden.

Habe noch keine gute Idee wie ich die Anzahl der Zeilen insgesamt am einfachsten bestimme und diese dann gleichmäßig auf die Seiten verteile. Nur mit offset und limit geht das wahrscheinlich nicht.

[2013-02-18 02:45] mniepert commented on #14
Ich weiss nicht genau, was Du hier meinst. Ist es nicht moeglich einfach
einzustellen, dass es z.B. 50 Zeilen pro Seite gibt? Dann kann man asynchron
die ersten 50 Seiten laden, diese anzeigen und derweil im Hintergrund die
naechsten 50, usw.

2013/2/17 jakob0910 notifications@github.com

[2013-02-18 04:05] mniepert opened #18 "Improve drag&drop of enhancer interface"
When dragging a datatype property the field "Add new _data_ property" should appear between the heading "Data properties" and above the area listing the existing data properties.

Same for object properties.

Use the heading Concepts instead of Concept, so that each section heading is in the plural.

When dragging a concept (e.g. Person) the field should read "Add new concept."

[2013-02-18 13:21] jakob0910 commented on #14
(Jan) Wir sitzen gerade an dem problem und ich habe es jetzt verstanden habe aber noch keine Lösung. Ich melde mich mit einer Lösung / Lösungsvorschlag.

[2013-02-18 14:00] colinallen opened #19 "503 error"
I had just linked one pair of ideas and got

Service Temporarily Unavailable

The server is temporarily unable to service your request due to maintenance downtime or capacity problems. Please try again later.

[2013-02-18 14:08] colinallen opened #20 "return to search results"
If one has done a search for entities matching a particular string (e.g. "animal") and then gone ahead and linked one of them (e.g. "animal cognition") to the DBPedia entity, then there ought to be an easy way to get back to the previous search results to keep working on related ideas.

[2013-02-18 14:16] colinallen opened #21 "entity and thinker"
A search for 'Frege' gives both these results:

entity:e3038    Gottlob Frege   entity
thinker:t3038   Gottlob Frege   thinker, Person

On the InPhO site, these are (I believe) one data record not two.  Is this an InPhO bug or a Lode issue?

[2013-02-18 14:59] sztyler commented on #21
this is a duplicate of ticket #11

[2013-02-18 15:00] sztyler commented on #19
please provide more information or urls - so that we can reproduce the problem.

(But I think that we restart the server during your try of linking something.)

[2013-02-18 15:12] colinallen commented on #19
Indeed the problem went away so I think you are right that it was due to the server restart.

[2013-02-18 15:45] sztyler commented on #19
closed

[2013-02-18 15:45] #19 closed, assigned to nobody

[2013-02-18 15:45] jnoessner opened #22 "OWLIM-SE Installation as solution for many problems ;-)"
We now have several enhancement tickets where we need reasoning in SPARQL (e.g. the problem with same-as relations #11, #21). Future plans also require reasoning (e.g. restructuring concepts in search as trees, finding that plato is also an "entity" although its only marked as philosoph).

The solution could be OWLIM-SE (http://owlim.ontotext.com/display/OWLIMv42/OWLIM-SE+Reasoner)

I now continue

[2013-02-18 17:29] mniepert commented on #21
Colin: The InPhO RDF file has currently two separate objects, one for thinker and one for entity, with different URIs. As far as I understand, this is because of the internal representation of entities in InPhO and the way the RDF file is created. The solution we are working towards is to "cluster" entities according to sameAs relations, if an RDF file has these relations. If the InPhO RDF file do

[2013-02-18 17:32] mniepert commented on #2
The interim solution with the pop-over looks good, I think. This shouldn't have the highest priority at the moment. Eventually, we might want to run some usability studies with actual users, and compare different versions.

[2013-02-18 17:45] mniepert commented on #6
Important: This should also include statistics of what has been dragged & dropped in the enhancer interface and by whom. This might be very helpful in "learning" an improved ranking of the properties and concepts.

[2013-02-18 17:49] mniepert opened #23 "Enhancer: Show three concepts at once"
Since there is enough space (due to the + button on the right of the area) for three concepts, I'd suggest to return to listing three concepts at once.

[2013-02-18 17:52] mniepert commented on #14
Looks much better now!

[2013-02-18 18:13] mniepert commented on #2
There's one thing that's pretty annoying though: Whenever one clicks on the icon and the popover opens, one jumps to the top of the page and has to scroll back.

[2013-02-18 19:56] mniepert opened #24 "Content browser: Add tooltips for strings in "Name" and "Concepts" columns"
The user should be able to identify the origin of the strings in the columns "Name" and "Concepts". For instance, when hoovering over "aestheticism" it should show "inpho:name".

What is used for the "name" column is also crucial and probably repository dependent. This should be part of a "loading & set-up" procedure that we should start working on in the future.

[2013-02-18 19:59] mniepert opened #25 "Content browser: Title of first column should be "URI" not "ID""
Content browser: Title of first column should be "URI" not "ID"

[2013-02-18 20:04] mniepert commented on #24
Tooltips should also be added for the "Concept-buttons" displaying the URIs of the concepts.

[2013-02-18 20:12] mniepert opened #26 "Linker: Different types of semantic links"
When dragging & dropping DBpedia objects, the pop-up dialogue that currently asks whether a sameAs link should be established should have a drop-down list with different possible types of semantic link. The sameAs link should be the standard selection.

Candidates for links should be:  owl:equivalentClass, is of rdf:type, has rdf:type, skos:related/brader/narrower, ...

[2013-02-18 20:49] mniepert opened #27 "Buttons on start page too playful?"
I'm not 100% sure but I currently tend to think that "normal" more modest buttons would make the site appear more professional/academic. What do you think?

[2013-02-18 21:36] jakob0910 commented on #2
The "jump to top" issue is now fixed.

Jan suggested to add the option to delete the sameAs relation as third choice.

[2013-02-18 22:18] jakob0910 commented on #27
I share your opinion. These colorful buttons look also a bit fuzzy. I replaced them with normal buttons.

In general,  I think we should redesign the complete start page and add more information. The current one is not really a good entry point.

[2013-02-18 22:20] #25 closed, assigned to jakob0910

[2013-02-18 23:03] sztyler commented on #27
I share your opinion too. Changes in Revision 18249f19 by Jakob.

[2013-02-18 23:04] mniepert opened #28 "More values to choose from in the configuration section."
Is currently between 1 and 5. Should be between 1 and 20 (at least).

[2013-02-18 23:05] sztyler commented on #17
fixed in revision [master d76bfa1d]

[2013-02-18 23:05] #17 closed, assigned to sztyler

[2013-02-18 23:06] sztyler commented on #20
add a back button in revision [master d76bfa1d] but it leads only to the content page - not to the previous search result (coming soon)

[2013-02-18 23:09] sztyler commented on #23
Can you explain it in detail please - I'm not sure if I get what you mean

[2013-02-18 23:15] mniepert commented on #23
In the concept field of the enhancer, there currently is only one concept
at a time visible (before clicking on the + button). However, it would be
better to see three concepts instead of just one at once (without having to
click on the + button).

On Mon, Feb 18, 2013 at 3:09 PM, sztyler notifications@github.com wrote:

[2013-02-18 23:19] sztyler commented on #23
Ok - In fact there is a "preview" value which can be modified (default=1), but it is currently not implemented in the configuration interface. So I think what you want is already implemented.

The preview value determine how many properties/concepts should be displayed without clicking the plus symbol.

[2013-02-18 23:21] mniepert commented on #23
Great! That's what I wanted.

On Mon, Feb 18, 2013 at 3:19 PM, sztyler notifications@github.com wrote:

[2013-02-18 23:22] mniepert commented on #2
Sounds great!

[2013-02-18 23:28] jakob0910 commented on #20
The search input (query, filter, page) gets saved in a cookie so that the search interface can be restored.

[2013-02-18 23:28] #20 closed, assigned to nobody

[2013-02-18 23:41] mniepert opened #29 "Linker: More... Button and Search field for link candidates"
Even with a high number of link candidates preset in the configuration file (e.g. 10) there are several cases where the right object is not listed despite being present in DBpedia. There are two suggestions/ideas I have at the moment to improve the situation:

(1) Add a search field where users can browse DBpedia entities (on click and without dynamically generating a list, this might pose some ef

[2013-02-18 23:50] mniepert opened #30 "Content Explorer: Place the "Previous" and "Next" Links also on top of the list"
Content Explorer: Place the "Previous" and "Next" Links also on top of the list

[2013-02-18 23:53] mniepert commented on #29
Example where this would be necessary:

http://linkedhumanities.com/link/dbpedia/thinker:t2463  (John Abercrombie)

[2013-02-19 00:08] mniepert commented on #9
Note: The options to delete stuff should be located in the entities overview page.

[2013-02-19 00:11] jakob0910 commented on #23
I added the value which determines the preview scope to the setting interface (preview properties).

[2013-02-19 00:11] #23 closed, assigned to nobody

[2013-02-19 00:12] jakob0910 commented on #28
I increased the maximum to 20.

[2013-02-19 00:12] #28 closed, assigned to jakob0910

[2013-02-19 00:12] sztyler commented on #9
I was not sure to implement this on the enhancer page or the entities overview page because if someone enhance something an he/she noted that he/she makes a mistake then he/she has to browse to enhancer page only to fix the mistake... what do you think?

[2013-02-19 00:14] mniepert commented on #9
Hm, good question. I'm worried that the enhancer interface will get too crowded. But you are right, there should be an "undo" option or something like that.

[2013-02-19 00:17] mniepert commented on #9
What about one trash can field/button where entities can be dragged to?

[2013-02-19 00:19] sztyler commented on #9
Yea I'm sharing the worries... In fact I had exaclty the same idea regarding the trash field/symbol - but I'm currently not sure If I can handle this regarding the states which have to be considered if I move an value/property (the javascript grows and grows...) - I will investigate some time during this week in this problem.

[2013-02-19 00:33] sztyler commented on #2
does this problem still exist?

[2013-02-19 00:39] mniepert commented on #2
No _but_ it's not quite there yet. What's missing is that the pop-overs
disappear when the user clicks somewhere else (I think this is standard
pop-over bahavior, if I'm not mistaken). As of now, each of the pop-overs
stays open.

On Mon, Feb 18, 2013 at 4:33 PM, sztyler notifications@github.com wrote:

[2013-02-19 00:50] mniepert opened #31 "Tooltips are cut off (Chrome)"
Many tooltips (with longer strings, URIs etc.) are cut off. Not sure how to solve this at the moment.

[2013-02-19 00:54] mniepert opened #32 "How to set what string is displayed in "name" column in content explorer?"
What is displayed in the "Name" column of the content explorer list often depends on the type of the objects. For instance, for "Thinkers" this might be foaf:name but for journals this might be rdfs:label.

This is something that a user should be able to set up. The standard should probably be rdfs:label. (?)

[2013-02-19 04:17] jnoessner opened #33 "Cannot open linker page"
I got the following error when i tried to link

http://linkedhumanities.com/link/dbpedia/inpho:turk_user

with my smartphone. (there was a very nice error handling around that error which suggested to write a ticket ;))

java.lang.NullPointerException at views.html.enhancers.link_entity$.apply(link_entity.template.scala:33) at views.html.enhancers.link_entity$.render(link_entity.template.scala:134

[2013-02-19 07:06] mniepert opened #34 "I don't like the back arrow symbol! :)"
It's ugly. This should be replaced with a nicer looking button or taken out entirely (especially on the enhancer page where the object URI is currently clickable anyway).

[2013-02-19 07:08] mniepert commented on #34
In addition, it doesn't render under Chrome/Windows vista (just showing the typical box)

[2013-02-19 07:43] mniepert commented on #27
It looks better but I have one more suggestion:

Why not have one larger green button with "Explore content" (the height of the button should be the height of the current three buttons combined) and to its right two buttons for Help page and About the project?

[2013-02-19 07:54] mniepert opened #35 "Explore, Link, Enhance"
I suggest these three blocks on the title page:

Explore
Browse and explore your data.

Link
Connect your data to external repositories.

Enhance
Enrich and improve your data.

[2013-02-19 08:04] jnoessner commented on #2
And you did not include the same functionality on the view page yet(same popup) as we discussed.

[2013-02-19 08:14] jnoessner commented on #9
What if in any detailed view we place a small red cross next to the source fact, where it can be deleted. Then this would be equal for any existing view.

[2013-02-19 08:16] jnoessner commented on #9
So in both, the enhancer and the viewer.

[2013-02-19 08:19] jnoessner commented on #9
And we could later extend that feature with ie a rename function. If too many red crosses are too ugly they could appear only when mouse is over the text.

[2013-02-19 08:24] jnoessner commented on #9
Or be gray and become red ;)

[2013-02-19 20:13] sztyler commented on #34
I noted that the symbol is displayed in differenz ways depending on the system/browser. Any suggestions? an image or any unicode character?

[2013-02-19 20:15] sztyler commented on #9
I don't like the idea of a lof of red buttons because the will lead crowded page - I prefer the idea with the wastebin symbol

[2013-02-19 20:19] sztyler commented on #32
currently there is a set of properties which are ordered by priority - the programm check which properties are available and choose a property considering the prioritylist. I think Jakob will add this list to configuration page.

[2013-02-19 20:19] mniepert commented on #34
What about getting rid of the symbol altogether? I think Colin's problem
was that when he went back to the content explorer page (which is possible
via the menu button "Content") that he had to start over the search.

On Tue, Feb 19, 2013 at 12:13 PM, sztyler notifications@github.com wrote:

[2013-02-19 20:21] mniepert commented on #32
Great. That's good. The list should contain

rdfs:label
foaf:name
skos:prefLabel

On Tue, Feb 19, 2013 at 12:19 PM, sztyler notifications@github.com wrote:

[2013-02-19 20:22] sztyler commented on #31
Do you mean that the tooltip is not complete visible so the user cannot see the full URIs? - thats strage - I did not notice this problem on the enhancer or linker page (my resolutin is 1920x1200) - can you make a screenshot please?

[2013-02-19 20:25] sztyler commented on #32
Currently we use...
        uris.add("http://dbpedia.org/property/name");
        uris.add("http://www.w3.org/2000/01/rdf-schema#label");
        uris.add("http://xmlns.com/foaf/0.1/name");
        uris.add("http://dbpedia.org/property/alternativeNames");
        uris.add("http://dbpedia.org/property/id");
        uris.add("http://dbpedia.org/property/commonName");
        uris.add("http://www.w3.

[2013-02-19 20:28] sztyler commented on #34
You mean you would remove the back symbols on the enhancer/linker/overview page because everyone can switch from the enhancer/linker to the overview by clicking the id (e.g. thinker:t1234) and from the overview page to the search by clicking the menu-button "content"?

I think it is not obviously that the user can click on the id to switch back to the overview page - also it is not typical to pres

[2013-02-19 20:29] mniepert commented on #31
![tooltip](https://f.cloud.github.com/assets/1134108/173132/0bf325a4-7ad3-11e2-8846-f943d26de93b.png)

[2013-02-19 20:30] mniepert commented on #32
Great!

On Tue, Feb 19, 2013 at 12:25 PM, sztyler notifications@github.com wrote:

[2013-02-19 20:31] sztyler commented on #31
thx - this should not happen - I will check this

[2013-02-19 20:36] sztyler commented on #31
mm in my case - it is displayed correctly - which browser/browser version/system are you using?
![tooltip](https://f.cloud.github.com/assets/3532545/173159/02ffdbbc-7ad4-11e2-9120-986d852b0397.png)

[2013-02-19 20:37] mniepert commented on #34
Hm, right. One nice solution might be to have something like this:

http://www.hbogo.com/#movies/

When you move the mouse to the right (or left) side of the screen an arrow fades in. Since LODE's interfaces are bidirectional  Explore <-> Overview <-> Link/Enhance   this might be worth a try.

[2013-02-19 20:39] mniepert commented on #31
Chrome/Version 24.0.1312.70/Fedora Linux

[2013-02-19 20:42] mniepert commented on #31
It's a Chrome issue under Fedora. It works with Firefox.

[2013-02-19 20:44] sztyler commented on #34
even via VPN to my private server in USA I cannot access the page ...

To access HBO GO℠, you must reside within the fifty states of the United States of America.
If you reside in this area and are still experiencing difficulties, please contact your television provider.

edit
now it works - its loading...

[2013-02-19 20:47] sztyler commented on #31
Ok - I will check if this problem also occurs on other linux distribution

[2013-02-19 20:50] sztyler commented on #34
Now I can see these buttons - I'll see what I can do. I have attachend a screenshot for everyone which does not live in the USA ;)
![Buttons](https://f.cloud.github.com/assets/3532545/173218/151cac92-7ad6-11e2-9293-94d2984c71b3.png)

[2013-02-19 20:58] mniepert commented on #34
Thanks! The arrows fade in when you get close to the area which I think is a neat/subtle example of directional navigation.

[2013-02-19 21:55] jakob0910 commented on #35
I changed it.

Anything else we can add to the start page?

[2013-02-19 21:56] #30 closed, assigned to jakob0910

[2013-02-19 22:00] jakob0910 commented on #27
I found a similar solution. I don't want to start to modify bootstrap elements at the moment.

[2013-02-19 22:03] jakob0910 commented on #31
Bootstrap supports only these browser:
https://github.com/twitter/bootstrap/wiki/Browser-Compatibility

[2013-02-19 22:07] sztyler commented on #31
I think this list is out of date - because we are using currently firefox 18 - but in fact linux is not part of this list...

[2013-02-19 22:07] mniepert commented on #31
That's fine! We can close this. It's good that it still looks perfectly fine under Linux (except for this one tiny problem).

[2013-02-19 22:09] mniepert commented on #27
Right. Whatever is possible with bootstrap!

[2013-02-19 22:09] #27 closed, assigned to jakob0910

[2013-02-19 22:10] mniepert commented on #34
Is this something that can be used:

http://twitter.github.com/bootstrap/examples/carousel.html

[2013-02-19 22:28] jakob0910 commented on #14
The initial issue of this ticket is solved. The remaining problems will be tracked in issue #11.

[2013-02-19 22:28] #14 closed, assigned to jakob0910

[2013-02-20 21:18] mniepert opened #36 "Improve Enhancer Interface"
When dragging & dropping a concept/property/property value the status of the three boxes (concepts, data properties, object properties) should be stored and restored after the operation is performed. Status here means (a) whether the +-button has been pressed to extend the box, (b) whether the "load more" button been pressed to load all of the concepts/properties, (c) the position of the window fr

[2013-02-20 21:26] mniepert opened #37 "Improve wording of error message"
Oh snap! An error occurred!
One of the external data access points is currently not available. Please note that we are not responsible for the availability of these external data sources. Still, we apologize for the inconvenience!

Please try one of these steps:

Reload this page
Go back to the main page and start over
Create a ticket with us, we'll see what we can do!

[2013-02-20 21:46] mniepert opened #38 "Content Explorer list/table problem"
Example: search for "mind"

Click on the next button.This leads you to the next page. The next button is not grayed even though there are only two pages overall.

[2013-02-21 09:15] jnoessner commented on #34
The problem (as far as I remember) is here that the pages do not change when clicking on the arrow. Thus, everything has to be encoded on just one page. But Timo and Jakob are the experts ;-)...

[2013-02-25 13:29] #35 closed, assigned to jakob0910

[2013-02-25 13:34] jakob0910 commented on #38
Issue/Enhancemanet #11 has to be completed first.

[2013-02-25 14:00] sztyler commented on #37
fixed in revision [master b6adf9a]

[2013-02-25 14:00] #37 closed, assigned to sztyler

[2013-02-25 14:06] sztyler commented on #21
duplicate

[2013-02-25 14:06] #21 closed, assigned to nobody

[2013-02-25 14:08] sztyler commented on #6
currently low priority because we have to change and enhance a lot of things

[2013-02-25 14:09] sztyler commented on #22
we have to do this on a test server which is available by the end of the week

[2013-02-25 17:37] sztyler commented on #33
fixed in revision [master c5b5304]

[2013-02-25 17:37] #33 closed, assigned to sztyler

[2013-02-25 17:48] sztyler commented on #34
I've thought about it and I think it is a bad idea to implement the buttons like on the screenshot because the buttons are not visible if the user does not navigate the mouse to the left or right part of the screen furthermore a normal user would not find this buttons rather he/she would use the build-in function of the browser to navigate to the previous page. So I think we should use a simple so

[2013-02-25 17:56] sztyler commented on #26
mm currently the linker is only visible if there is no sameAs relation - so it wouldn't be possible to create another relation like skos:related after the sameAs relation is established - does this make sense?

[2013-02-25 19:49] mniepert commented on #26
Yes, but that shouldn't be a problem. For now, when the user clicks on the Dbpedia logo (when colored) there should just be an additional item in the popover that lists "establish additional links" or something like this leading the user to the linking interface.

[2013-02-25 19:51] mniepert commented on #34
Yes, this is fine! There should be a tooltip, too ("Go to overview", "Go to content explorer", ...)

[2013-02-25 21:44] sztyler commented on #18
fixed in revision [master 0bfd6df]

[2013-02-25 21:44] #18 closed, assigned to sztyler

[2013-02-25 21:46] sztyler commented on #26
alright ;)

[2013-02-25 22:37] sztyler commented on #34
fixed in revision [master 8e7c16f]

[2013-02-25 22:37] #34 closed, assigned to sztyler

[2013-02-26 13:27] jakob0910 commented on #32
This feature is now configurable. [3caf4a0]

[2013-02-26 13:35] jakob0910 commented on #24
I added column tooltips to the name and concept column.

It is not so simple to add to tooltips to the "concept buttons" because the tooltips use different style classes. Thus, I replaced the text of the buttons by the short uri. In general, I think it is not a good idea to add tooltips to everything because that could also lead to confusion and decrease the usability of the site.

[2013-02-26 18:15] jnoessner opened #39 "Load more... button is missing for concepts"
I think I have read this somewhere. But nevertheless: The "Load more" Button for concepts is missing in the enhancer! http://linkedhumanities.com/enhance/thinker:t2484/dbpedia

[2013-02-26 19:13] mniepert opened #40 "Changing "Values per properties" for the Linker doesn't work"
Changing "Values per properties" for the Linker doesn't work.

I set the value from 3 to 4 but only 3 values where shown even though there are more.

[2013-02-26 19:16] mniepert opened #41 ""Select all" option for property values"
When the user drags & drops a property there should be an "Select all values" option in the pop-up. Examples where this is necessary is the "influenced by" property for philosophers where it is not uncommon for a thinker to have dozens of influences.

[2013-02-27 01:55] mniepert opened #42 "Pop-overs in explorer cannot be closed"
I've mentioned this before somewhere. The pop-overs should have either a "close cross" in the upper right corner or should disappear when the user clicks on the page behind the pop-over.

[2013-02-27 01:55] mniepert opened #43 "Pop-overs in explorer cannot be closed"
I've mentioned this before somewhere. The pop-overs should have either a "close cross" in the upper right corner or should disappear when the user clicks on the page behind the pop-over.

[2013-02-27 01:55] #43 closed, assigned to nobody

[2013-02-27 02:01] mniepert opened #44 "The magnifying glass has to go"
I'm talking about the one on the "Explore" button on the start page. Just "explore" is fine!

[2013-02-27 11:27] sztyler commented on #41
I know that there could be a lot of values but if I add a "Select all" function this could lead to the problem that the user does not check the values which he/she wants to add - even if there are less values. Hence the error rate will increase (e.g. if the data source provides data with mistakes then it is less probably that the user noticed these mistakes)

[2013-02-27 11:28] sztyler commented on #40
I will check if this is a mistake of the configuration interface or the method itself.

[2013-02-27 11:55] jakob0910 commented on #40
The configuration interface works correctly.

[2013-02-27 11:55] jakob0910 commented on #44
I removed it...

[2013-02-27 11:55] #44 closed, assigned to jakob0910

[2013-02-27 22:17] sztyler commented on #40
fixed in revision [master f4b25a2]

[2013-02-27 22:17] #40 closed, assigned to sztyler

[2013-02-27 22:19] sztyler commented on #32
can I close this issue?

[2013-02-27 22:22] mniepert commented on #32
Yes, as far as I'm concerned.

On Wed, Feb 27, 2013 at 2:19 PM, sztyler notifications@github.com wrote:

[2013-02-27 22:31] mniepert opened #45 "Linker interface doesn't show local data"
When the linker interface is opened via click on a DBpedia logo (grayed) in the content explorer the data (labels etc.) for the local entity are not shown. This only happens in this case and, for instance, not when the linker interface is opened from the entity overview page.

[2013-02-27 22:34] mniepert commented on #41
Agreed (for now). Then let's rephrase the issue:  When a property with lots of values is dragged and dropped, the user should have a scrollable list in the verification pop-up with each value having a checkbox. Currently, its' only at most 5 values at once. Also, this is a subtle issue: When a property is dragged (either object or datatype) it should still be shown on the DBpedia side as long as i

[2013-02-27 22:36] #41 closed, assigned to sztyler

[2013-02-27 22:36] mniepert opened #46 "Dragging & Dropping data and object properties (behavior)"
When a property with lots of values is dragged and dropped, the user should have a scrollable list in the verification pop-up with each value having a checkbox. Currently, its' only at most 5 values at once. Also, this is a subtle issue: When a property is dragged (either object or datatype) it should still be shown on the DBpedia side as long as it has values on the DBpedia side that are not on t

[2013-02-27 23:09] sztyler commented on #42
fixed in revision [master 99aca8b]

@jakob0910
I added the option "trigger:'focus'" to popover

[2013-02-27 23:16] sztyler commented on #45
fixed in revision [master d28c0ce]

[2013-02-27 23:16] #45 closed, assigned to sztyler

[2013-02-27 23:55] sztyler commented on #26
implement first version in revision [master b22f0ae] - currently "is of rdf:type, has rdf:type" is missing. Furthermore there is no default value - the user has to choose something. I also add the new relation types to the enhancer relation dialog - hope this is ok?

The Dialog works and stores the relation inside the tripple store but the "Relation Store" Page does not show currently all relation

[2013-02-28 05:39] JaimieMurdock opened #47 "screenshots overlap w/text on help page"
on the help page, the screen shots are overlapping with the text, need more padding.
http://www.linkedhumanities.com/help

using Chrome on Ubuntu, should be the same in all WebKit-based browsers.

[2013-02-28 08:01] mniepert commented on #47
Thanks Jaimie! By the way, we have noticed that Chrome is currently
incompatible with some of the JavaScript features on the site. We are
currently working on fixing this.

On Wed, Feb 27, 2013 at 9:39 PM, Jaimie Murdock notifications@github.comwrote:

[2013-02-28 08:05] mniepert commented on #47
Timo & Jakob: Considering the mounting evidence that LODE is incompatible with Chrome both in terms of the deisgn (padding etc.) and the functionality (JavaScript, pop-overs, etc.) this should have a relatively high priority. Chrome (and Chromium etc.) is a very popular browser.

[2013-02-28 09:23] sztyler commented on #47
We know that and we will try to handle these problems. thx for your feedback.

[2013-02-28 09:26] #32 closed, assigned to jakob0910

[2013-02-28 09:28] jakob0910 commented on #42
Current solution does not work in Chrome.

[2013-02-28 09:30] sztyler opened #48 "Linker does not work (Chrome)"
Currently the Linker does not work with chrome/chromium

[2013-02-28 09:37] sztyler opened #49 "Enhancer desgin broken (Chrome)"
Problems are...
- Background-Color (plus symbol)
- UTF-8 Character
- Property Preview
- Edges of the boxes

[2013-02-28 09:38] sztyler commented on #31
reopen - should be fixed

problem appears with chrome

[2013-03-01 20:57] mniepert commented on #26
Yes!

One more thing: In the linker interface, the drop-down with the relations should also list prefixes (e.g. owl:sameAs, etc.)

[2013-03-02 22:39] sztyler commented on #49
fixed in revision [master 9392005]

[2013-03-02 22:39] #49 closed, assigned to sztyler

[2013-03-02 22:45] sztyler commented on #26
sameas -> owl:sameAs
changed in revision [master 84151ec]

TODO
- check that the user can only create one sameAs Relation
- set default selection
- add is of rdf:type, has rdf:type

[2013-03-02 23:38] sztyler commented on #48
this was a bigger issue as aspected

fixed in revision [master db81c02]

[2013-03-02 23:38] #48 closed, assigned to sztyler

[2013-03-02 23:42] sztyler commented on #42
removed trigger in revision [master 57cf4e4]

[2013-03-03 23:59] sztyler commented on #39
fixed in revision [master 775b036]

[2013-03-03 23:59] #39 closed, assigned to sztyler

[2013-03-05 23:15] jakob0910 commented on #47
Fixed in revision 81a887b7.

[2013-03-05 23:15] #47 closed, assigned to jakob0910

[2013-03-07 18:20] mniepert opened #50 "Images with .JPG extension should be displayed"
Note: JPG is capitalized that's why it doesn't work.

[2013-03-07 18:25] mniepert commented on #31
Not anymore. This can be closed. I tested it with Chrome under Linux and Windows.

[2013-03-07 23:21] mniepert commented on #31
Sorry, I was wrong. This is still an issue with Chrome.

[2013-04-19 13:11] jnoessner opened #51 "Display Only Instances as Linking Canidates"
I discovered that sometimes concepts (might also be properties) are suggested as linking canidates. One example are the linking canidates for 'platonism' http://www.linkedhumanities.com/link/dbpedia/entity:e443. One of the link suggestions is actually a property.

We have to make sure (change Sparql query) that only instances are displayed as possible canidates for same-as links.

[2013-04-19 13:20] jnoessner opened #52 "DBPedia error for long names 'The Journal of Neoplatonic Studies' but not for e.g. 'Platonism'"
If I try to link http://www.linkedhumanities.com/content/entity/entity%3Ae4967 ('The Journal of Neoplatonic Studies') I get a DBPedia is not working error. If I take a shorter value (e.g. http://www.linkedhumanities.com/content/entity/entity%3Ae443) everything works fine.

Obviously too many queries at a time or too many results? Can we do something here (e.g. restrict number of results or somethi

[2013-05-07 14:05] jnoessner commented on #2
Summary: Open issues: Pop-overs must disapear

[2013-05-07 14:09] jnoessner commented on #9
Summary: Open issues: (1) Implement delete link command for linker (2) Implement trash symbol for enhancer.

[2013-05-07 14:33] jnoessner opened #53 "Simplify 'Create Relation' Window"
First: SameAs is only for INSTANCES, not for properties or concepts. Here, we have to use owl:equivalentClass and owl:equivalentProperty (depending what the user chose).

The create relation window is too complicated.

My suggestion would be something like (example):
## Create Relation

thinker     is the same as     Person

If the user hovers over thinker he gets the URI (e.g. http://inpho.co....

[2013-05-07 14:47] jnoessner commented on #42
Does also not work for firefox under windows (if that helps ;-))

[2013-05-07 15:08] jnoessner commented on #26
Related Issue: #53

[2013-05-07 15:21] jnoessner opened #54 "Two SameAs links"
I just noticed problems if i create two sameAs links between Instances. I did so for 'John Abercrombie'.

Now, LODE correctly displays 2 symbols in the search interface. But when I go to the enhancer interface nothing is displayed for enhancement.
http://linkedhumanities.com/enhance/thinker:t2463/dbpedia

Probably, because it can not decide which link to take. Now there are 3 possibilities to addr

[2013-07-05 15:04] sztyler commented on #36
fixed/implemented in rev. 01761a4a

(server will updated within the next few days)

[2013-07-06 01:15] sztyler commented on #46
fixed/implemented in rev. d8e25147

(server will updated within the next few days)

[2013-07-06 01:15] #46 closed, assigned to sztyler

[2013-07-06 22:22] sztyler commented on #53
fixed/implemented in rev. 5f7f2d4

(server will updated within the next few days)

[2013-07-06 22:22] #53 closed, assigned to sztyler

[2013-07-06 22:22] sztyler commented on #26
fixed/implemented in rev. 5f7f2d4

(server will updated within the next few days)

[2013-07-06 22:22] #26 closed, assigned to sztyler

[2013-07-06 22:39] sztyler commented on #54
In the current version it is not possible to create more then one owl:sameAs relation. So the user can defined for each local instance one owl:sameAs relation for each existing external provider (e.g. dbpedia). Hence the user can add to a local instance exactly one owl:sameAs relation which point to an instance which is provided by e.g. dbpedia. If we would have e.g. two provider then the user can

[2013-07-06 22:39] #54 closed, assigned to sztyler

[2013-07-07 00:49] sztyler commented on #31
It takes a lot of time but it is fixed now :) - the solution was simple. The problem was that Chrome does only break the line inside a tooltip if there was a wide-space - typically a url does not have a wide-space^^ - furthermore in opposite to chrome - firefox also breaks the line if there appears a slash (this is the reason why the problem only appears in chrome). So I had to search how to wrap

[2013-07-07 00:51] #31 closed, assigned to sztyler

[2013-07-08 20:00] sztyler commented on #52
In the current version I implemented a lot of stuff to handle those problems.
1. Set an timeout limit of 10 sec for sparql querying (the timer starts after the connection between our server and the dbpedia server is established, if the timeout limit is reached we get an incomplete result - typically if the timeout limit is reached the results comprises still hundreds of entries)
2. Implement a pro

[2013-07-08 21:47] sztyler commented on #52
fixed on rev. 50d39189

(server will updated within the next few days)

[2013-07-08 21:47] #52 closed, assigned to sztyler

[2013-07-08 23:09] sztyler commented on #51
fixed in rev. c5cbeb3

(server will updated within the next few days)

[2013-07-08 23:09] #51 closed, assigned to sztyler

[2013-07-08 23:49] sztyler commented on #29
I think I will implement the second idea.

[2013-07-10 18:49] sztyler commented on #50
fixed in rev. master afd93e0

(server will updated at the end of the week)

[2013-07-10 18:49] #50 closed, assigned to sztyler

[2013-07-12 02:27] sztyler commented on #9
Status: In Progress
Currently I implement the possibility to delete properties/values of a local instance.

[2013-07-24 08:55] jnoessner opened #55 "No Next... button when clicking on 'thinker'"
If I click on the concept 'inpho:thinker' there is no possibility to proceed to page 2 although there should be 1760 instances.

[2013-07-24 08:59] jnoessner opened #56 "No names given for any ideas?"
Is it correct that Ideas have no 'name' attribut? I am asking because I remember that they once had names and because at inpho (https://inpho.cogs.indiana.edu/idea) they also have names.

[2013-07-24 09:02] jnoessner commented on #56
I just figured out that the entities strangely have names that seems to be ideas (e.g. http://lode.informatik.uni-mannheim.de/content/entity/entity%3Ae1002). Maybe this is related to the same-as clustering problem?

[2013-07-24 09:07] jnoessner opened #57 "No search results for 'ancient atomism'"
Hi,

there are no search results for 'ancient atomism'

http://lode.informatik.uni-mannheim.de/link/dbpedia/entity:e1005

although there exists:

http://dbpedia.org/page/Atomism

[2013-07-24 09:12] jnoessner opened #58 "Create Filter 'show non-linked instances'"
Create a checkbox (or something like that) where the actual search results are filtered so that only those instances are displayed where no link exists yet.

[2013-07-24 09:24] jnoessner opened #59 "Nicer Link-Delete Interface"
For link deletion, the interface is a little bit unintuitive and 'not so pretty'. Is it possible to just have a popup like the one when we establish a link in the linker interface?

After deletion of the link I am not redirected to the page, where I have been before.

[2013-07-24 09:39] jnoessner commented on #36
Almost ;-).

For http://lode.informatik.uni-mannheim.de/enhance/entity:e10/dbpedia we have two times 'wiki page i d'.

[2013-07-24 09:46] jnoessner opened #60 "More or Next button in Linker"
If there exist more linking canidates than the ones displayed, it would be useful to be able to load them as well (e.g. by clicking a 'more' button at the bottom of the page).

One example where more linking canidates should exist is http://www.linkedhumanities.com/link/dbpedia/entity:e4967.

[2013-07-24 10:33] sztyler commented on #60
this ticket is a duplicate of issue #29

[2013-07-24 10:33] #60 closed, assigned to sztyler

[2013-07-25 18:24] sztyler commented on #36
fixed in rev. 879fc7fc

[2013-07-25 18:24] #36 closed, assigned to sztyler

[2013-07-27 21:25] sztyler commented on #57
fixed in rev. 9805645

[2013-07-27 21:25] #57 closed, assigned to sztyler

[2013-07-27 22:49] jakob0910 commented on #56
The inpho rdf file which I use does not have a same relation to an idea for entity:e1002. If I add the triple "entity:e1002 owl:sameAs idea:idea1002", the name is also shown for the idea entry. The problem will be solved when we upgrade the backend to OWLIM Lite (or SE) with the owl horst reasoner.

We should clarify what the correct/current inpho rdf file is.

[2013-07-27 23:03] jakob0910 commented on #55
This one is related to the clustering problem. The current workaround is to activate the "next" button if more than number of entries are then 50% of the set page size.

Once we solved the clustering issue each page but the last should have as many entries as the page size.

[2013-07-27 23:03] #55 closed, assigned to jakob0910

[2013-07-27 23:13] jakob0910 commented on #42
This solution http://mattlockyer.com/2013/04/08/close-a-twitter-bootstrap-popover-when-clicking-outside/ seems to work in FF and Chrome.

[2013-07-27 23:13] #42 closed, assigned to jakob0910

[2013-07-27 23:15] jakob0910 commented on #2
The pop-over problem should be solved (see issue #42).

[2013-07-27 23:15] #2 closed, assigned to jakob0910

[2013-07-28 18:45] sztyler commented on #9
delete properties/values (enhancer)

delete sameAs Relation

please create a new ticket for the management of relations like "abc skos:related def"

[2013-07-28 18:45] #9 closed, assigned to sztyler

[2013-08-01 09:45] jnoessner opened #61 "Bug (Exception)"
http://www.linkedhumanities.com/enhance/thinker:t2585/dbpedia

Execution exception

[QueryParseException: Lexical error at line 1, column 177. Encountered: "\'" (39), after : "Communism"]
In /opt/lode/app/sparql/Sparql.java at line 90.

87        request = StringEscapeUtils.unescapeHtml(request);

88        request = request.replace("\n", "\n"); // TODO WORKAROUND

89

90        Query sparqlQuery

[2013-08-01 09:59] jnoessner opened #62 "Guide Through Menue"
I tested a few links and enhancements and I noticed that the menu is still a little bit unintuitive.

My suggestion would be, to remove the gray and colored dbpedia symbol (because it now seems to be sure that we will focus on dbpedia!).

Instead I would introduce small buttons saying 'view', 'link', 'enhance', 'delete',  'extern'. I leave it to your creativity to design nice buttons or to just pu

[2013-08-01 11:31] sztyler commented on #61
fixed in rev. f4ae806

problem was that the "isURI" method does not classify a string with spaces correctly - furthermore the spaces were not correctly encoded.

[2013-08-01 11:31] #61 closed, assigned to sztyler

[2013-08-01 11:34] mniepert opened #63 "Show sameAs on left side"
In addition to "type" and "name" it would be nice to include a section "sameAs" where all the equivalent entities in BDpedia would be listed. This should be easy to do and query for since it's in the local repo.

[2013-08-01 11:38] mniepert opened #64 "Previous button causes error message"
http://linkedhumanities.com/content

Search for "Kant", move to the second page and click on "previous":

"You cannot load a page smaller than 1"

[2013-08-01 12:11] jnoessner commented on #63
There is only one same-as to dbpedia, or? And it is implicitly displayed by the colored dbpedia symbol. Do you want that the user gets the exact URI of the same-as link?

[2013-08-01 12:20] sztyler commented on #62
Is it clever to drop the possibility to add other endpoints in the future? I am not convinced.

[2013-08-01 12:22] sztyler commented on #63
It is simple - should I implement this?

[2013-08-01 12:26] mniepert commented on #63
In addition to it being explicitly visible to the user, it would allow
several sameAs links and, in addition, it could be extended in the future
to also include other links that users can generate (related to,
differentFrom, disjoint, etc.)

So, yes, I think it's a good idea.

On Thu, Aug 1, 2013 at 2:22 PM, sztyler notifications@github.com wrote:

[2013-08-01 12:50] sztyler commented on #63
done in rev. b5fb7875

[2013-08-01 12:56] sztyler commented on #64
I can reproduce this problem on linkedhumanities.com but the problem does not occur with my local version lode (tested with firefox and chrome, windows)  - I will check this again after the LODE Server was updated.

[2013-08-01 15:56] jnoessner commented on #62
We would not drop the opportunity. If we want to add other endpoints, we would load the different endpoint REPLACING DBPedia (this selection could be made in some configuration file).

[2013-08-01 15:58] jnoessner opened #65 "Minor: Select everything when enhancing (data) property"
When I enhance a data and object property non of the values (the assertions) are selected. Especially when there is only one value, it was quite anoying to select the value each time. Would it be possible to select everything?

[2013-08-01 18:54] sztyler commented on #64
this problem still exists

[2013-08-01 18:58] sztyler commented on #65
It would be possibly but it is intended that the values are not selected by default because the user should "confirm" what he wants to add. (This can be compared to something like "do you really want to leave the game?")

other opinions?

[2013-08-01 19:09] jnoessner commented on #65
Ok, then just mark everything if there is only one value. Because in that case it is really anoying to mark this one entry every time: If there is only one entry, its more or less clear that the user wants to enhance the property together with this one value.

[2013-08-01 19:56] sztyler commented on #13
update - rev. 12c4ad59 - Disambiguierungsseite wird nicht mehr als Hit auf der Linker-Seite angezeigt, dafür die Einträge auf die diese verweisst. Die Einträge bekommen das selbe Ranking wie die Disambiguierungsseite. Das Ranking selbst wurde angepasst.

Offene Punkte
- Drag/Drop Funktion

[2013-08-03 08:54] mniepert commented on #63
When a link is created via drag&drop, the content of the sameAs list should be updated.

[2013-08-04 10:41] mniepert opened #66 "Stuck when enhancing object property with several values"
How to reproduce the problem:

Go to enhancer interface for a thinker that has the object property "subject" with several values. Drag and drop "subject" to "add new object property". Select several entries and click on enhance. The pop-up never closes and the user is stuck. The values are actually added once the interface is reloaded.

[2013-08-04 10:45] mniepert commented on #62
My opinion is to leave it as it is right now. Creating new buttons and changing the interface is something we shouldn't do at this point. Also, I still think it would be nice to have the possibility of several external sources at once.

[2013-08-04 14:33] #62 closed, assigned to nobody

[2013-08-04 14:34] jnoessner commented on #62
Maybe later.

[2013-08-04 16:17] mniepert opened #67 "Type of links between entities"
There are three sections in the enhancer interface:

Concepts
Datatype properties
Object properties

When users drag and drop concept to concept to create a link, the proposed link types have to be changed. The proper link types between concepts are "subclassof", "disjointWith", "broader" etc. but not sameAs or differentFrom. Please make sure that the link types are appropriate for the respective

[2013-08-04 16:20] mniepert opened #68 "Expand box after click on "Load more""
When users click on a "load more" button in one of the three enhancer sections, the respective box should be expanded right away without making the user click on the + sidebar again.

[2013-08-05 20:22] mniepert opened #69 ""Loading content" problem when unselecting all concepts"
I type something and then unselect all filters; it hangs with "loading content".  E.g., type “thea” and then unclick “inpho:entity” and all other concepts.

Reported by Cameron.

[2013-08-05 20:24] mniepert opened #70 "Delete property-value-pair page pop-up problem"
weird error popup (with message "...") when deleting a link through the hoverover on DBpedia icon ("remove link")

[2013-08-13 10:36] sztyler commented on #70
This is a debug message regarding the "History Back" function - the sameAs link will be deleted

[2013-08-13 12:31] sztyler commented on #68
fixed in rev. a9e515ae

[2013-08-13 12:31] #68 closed, assigned to sztyler

[2013-08-13 12:35] sztyler commented on #66
does not appear in rev. a9e515ae (tested with the properties "subject" and "wiki page external links" added more then 20 values for each property at once - instance: "Plato").

Note: It is possible that it takes up to one second to insert "one" value in the database. The speed also depend from the speed of the own internet connection

[2013-08-13 13:10] sztyler commented on #63
fixed in rev. f8334d9

[2013-08-13 13:10] #63 closed, assigned to sztyler

[2013-08-13 13:37] sztyler commented on #65
fixed in rev. 99a84ca

[2013-08-13 13:37] #65 closed, assigned to sztyler

[2013-08-13 18:24] jakob0910 commented on #58
This feature is implemented but it checks if no same as link to dbpedia exists. I guess that is what we need at the moment.

[2013-08-13 18:24] #58 closed, assigned to jakob0910

[2013-08-13 18:29] jakob0910 commented on #38
This problem is fixed. There is only one scenario which is not directly handled as expected: If the last page of a query has as many entries as the maximal number of entries per page, the "next" button is not deactivated. However, it will be deactivated if one clicks the button.

The only possibility to handle this directly is to query the total number of results for a certain query but this would

[2013-08-13 18:29] #38 closed, assigned to jakob0910

[2013-08-13 18:30] jakob0910 commented on #22
We installed owlim lite on osdorp.

[2013-08-13 18:30] #22 closed, assigned to jakob0910

[2013-08-13 18:30] #24 closed, assigned to jakob0910

[2013-08-13 18:36] jakob0910 commented on #11
The entities are now "clustered". We show the lexicographical lowest entity directly, the others are shown in a tooltip of a plus sign.

[2013-08-13 18:39] jakob0910 commented on #70
Now, the delete page can only be accessed from the "show entity" page. The user gets redirected to this page in any case. This was not possible before as there was also a direct link from the content explorer to this page.

[2013-08-13 18:39] #70 closed, assigned to jakob0910

[2013-08-13 18:42] jakob0910 commented on #59
Now, the delete page can only be accessed from the "show entity" page. The user gets redirected to this page in any case. This was not possible before as there was also a direct link from the content explorer to this page.

In my opinion, this interface is nice enough for now. We can change it later when more important tasks are finished.

[2013-08-13 18:42] #59 closed, assigned to jakob0910

[2013-08-13 18:45] jakob0910 commented on #56
This problem should be handled in a newer version of the rdf file. You should consider this in your request.

[2013-08-13 18:45] #56 closed, assigned to jakob0910

[2013-08-13 18:46] jakob0910 commented on #64
This problem is fixed.

[2013-08-13 18:46] #64 closed, assigned to jakob0910

[2013-08-13 18:53] jakob0910 commented on #69
I refactored the content explorer and the initial problem should be fixed.

However, the server (at least osdorp) seems to have performance issues if we send to many query simultaneously as we get many socket timeout exceptions. This is kind of strange because everything runs relatively good on my notebook which is relatively old and slow...

[2013-08-14 12:51] jnoessner commented on #11
Very nice!
Just a minor thing:
Could you just use another symbol than a "+" (maybe three dots "..." or something like that). Because I clicked on it 5-10 times wondering why nothing happens until I noticed that 'only' the other ids are shown in the tooltip (which is fine!). And I think we could place this symbol behind the name (not so important).

[2013-08-14 22:26] sztyler commented on #29
completed in rev. 098156e6

(Now it is possible to browse through all available proposals - the proposals are sorted by weight (descending) - the proposals which have the same weight are ordered alphabetically)

[2013-08-14 22:26] #29 closed, assigned to sztyler

[2013-08-17 19:43] sztyler commented on #12
complete in rev. b27713e

-all tooltips are now clickable (explorer, enhancer, linker, entity overview, dialogs)

[2013-08-17 19:43] #12 closed, assigned to sztyler

[2013-08-18 00:05] sztyler commented on #67
fixed in rev. a6843b01

Instances (Linker)
- owl:sameAs
- owl:differentFrom

Classes (Enhancer, Concept Section)
- owl:equivalentClass
- owl:disjointWith
- rdfs:subClassOf
- skos:related
- skos:broader
- skos:narrower

Properties (Enhancer, Dataproperties & Objectproperties)
- owl:equivalentProperty
- owl:disjointWith
- owl:inverseOf
- rdfs:subPropertyOf

[2013-08-18 00:05] #67 closed, assigned to sztyler

[2013-08-22 20:26] mniepert commented on #66
This is still a problem. It is stuck indefinitely.

[2013-08-22 20:32] sztyler commented on #66
ok - I will check it again

[2013-10-07 20:11] mniepert commented on #66
bump...

[2013-10-07 20:51] sztyler commented on #66
I already localized the problem. It is an nullpointer in the java script part (this is independet of the number selected values). This problem does not influence any other part. I will fix it at the end of the week.

Thx for the reminder :)

[2013-10-10 19:25] mniepert opened #71 "Strange behavior of "only non-linked" button"
When the button is clicked, the clustering of entities is removed.

How to reproduce:

http://linkedhumanities.com/content

Search for "aristo"

Select "z-825:thinker" in the concept filter section.

Click on button "only non-linked".

[2013-10-10 19:31] mniepert opened #72 "We need a "No entities found" message"
When one searches for a string for which no entities are in the local repository, the "loading" status bar is displayed indefinitely. That should be substituted with a "no entities found" message.

[2013-10-10 19:51] mniepert opened #73 "Creation of "related to" link problem"
When a "is related to" link is created with the linker interface, the name and URI of the relation are weird:

Name:   null
URI:       file:///opt/lode/null

This should be (in this case)

name:  SKOS:related
URI: http://www.w3.org/2004/02/skos/core#related

[2013-10-10 19:51] mniepert commented on #73
This problem should be checked and solved in general. It probably also occurs for other link types.

[2013-10-10 19:53] mniepert opened #74 "Remove link"
Links should be removable also from the "overview" page of entities. Currently, one can only remove sameAs links.

[2013-10-10 19:55] sztyler commented on #73
confirmed

[2013-10-10 20:07] sztyler commented on #66
fixed in rev. 74c9dae
- development system will be updated during the next two hours
- stable system will be updated during the next week

[2013-10-10 20:07] #66 closed, assigned to sztyler

[2013-10-10 20:40] sztyler commented on #73
fixed in rev. c3e5f15
- development system will be updated during the next two hours
- stable system will be updated during the next week

[2013-10-10 20:40] #73 closed, assigned to sztyler

[2013-10-10 21:21] sztyler opened #75 "ToolTip Issues"
TODO (known issues)
- some tooltips do not disappear
- sometimes the tooltip does not appear - only the html code is visible
- remove clickable tooltips from content explorer (1)
- link in tooltip should be underlined when mouse is over
- tooltip should not disappear if the mouse is over

(1) We (Jakob and me) are thinking that it is overstated that the tooltips are clickable on the content explor

[2013-10-10 21:23] mniepert commented on #75
It's not high priority.

On Thu, Oct 10, 2013 at 2:21 PM, sztyler notifications@github.com wrote:

[2013-10-10 21:27] sztyler commented on #75
sure - I only want to remark these points - actually I think that I don't solve this issue this year.

[2013-10-10 21:31] sztyler commented on #74
Do you mean links like...(these are only examples)

http://inpho.cogs.indiana.edu/thinker http://www.w3.org/2002/07/owl#disjointWith http://dbpedia.org/class/yago/AncientGreekPhilosophers
http://xmlns.com/foaf/0.1/name http://www.w3.org/2000/01/rdf-schema#subPropertyOf http://www.w3.org/2000/01/rdf-schema#label
http://purl.org/dc/terms/subject http://www.w3.org/2002/07/owl#inverseOf http://www.w3.

[2013-10-10 22:01] mniepert commented on #74
No, I mean relations between individuals (not properties). For instance,
let's say we create a "is related to" link between Aristotle's_Aesthetics
(the book) and Aristotle's_Aesthetics (the inpho idea).

Now, let's assume we want to remove this link. We cannot until we create a
sameAs link, because only then do we have access to the enhancer interface.

On Thu, Oct 10, 2013 at 2:31 PM, sztyler not

[2013-10-10 22:43] sztyler commented on #74
in fact, in the current version it is not possible to define skos:related in the linker interface

see https://github.com/linkedhumanities/lode/issues/67#issuecomment-22822141

but the problem would still exists for owl:differentFrom - so I think the best solution is to improve the deletion-page which is actually used for the owl:sameas relation (relations which are created on the linker page are

[2013-10-10 22:47] mniepert commented on #74
right (even though, it is possible in the linker at the moment, it creates the null relation which I mentioned in a different issue). That's how I noticed this problem: I wanted to remove the "null" link but it was not possible unless I first created a sameAs link.

[2013-10-10 22:51] sztyler commented on #74
@OffTopic
This problem only exists on lode.informatik.uni-mannheim.de / http://linkedhumanities.com/ (Stable Server) - the Stable Server is outdated - this problem is already fixed on osdorp.informatik.uni-mannheim.de:9000/ (Dev Server). Stable Server will be updated during the next week.

@Task
Enhance sameAs deletion page

[2013-10-16 20:40] mniepert commented on #69
The weird thing is that this only happens for "object properties" and it happens even if only one single value is added.  The problem is probably rooted in the query which is specific for object properties.

[2013-10-16 20:52] jakob0910 commented on #69
Is your commend related to this ticket?

If yes: Can you provide an example? I am pretty sure that the query is not the problem as the described problem does not occur on my PC or Notebook. We get a lot of timeouts if we send too many complex queries to our local sparql endpoint (owlim).

[2013-10-16 20:54] mniepert commented on #69
Sorry wrong ticket...

[2013-10-16 20:55] mniepert commented on #66
This is where I wanted to write this.  The weird thing is that this only happens for "object properties" and it happens even if only one single value is added. The problem is probably rooted in the query which is specific for object properties.

[2013-10-16 20:58] mniepert commented on #66
This is not a problem on the development server. So I assume the stable server hasn't been updated. Ignore the previous messages.

[2013-10-16 21:01] sztyler commented on #66
Stable Server will be updated tomorrow ;)

[2013-10-16 21:07] jakob0910 commented on #69
Ok, but what's your opinion on this one? There are two possible solutions as it is very unlikey that we get better hardware:
1. We accept the problem.
2. After a user select/unselects a type he has to wait until the result is returned before another type can be selected/unselected.

[2013-10-16 21:13] mniepert commented on #69
I think for now (1.) is OK. However, note that this is related to #72 . At the moment, the message

"There are no concepts which match the query."

is displayed correctly after a while but the "loading content" for the entities remains indefinitely.

[2013-10-16 21:28] jakob0910 commented on #69
Tickets #71, #72 are already fixed. I will close these tickets tomorrow after we updated the server.

[2013-10-16 21:29] mniepert commented on #69
Nice.

On Wed, Oct 16, 2013 at 2:28 PM, jakob0910 notifications@github.com wrote:

[2013-10-17 19:54] jakob0910 commented on #74
Now you are able to delete links of the types owl:sameAs and owl:differentFrom. I can extend this list if necessary but these are the only one you can add at the moment. You are also able to delete links if no same as relation exists.

[2013-10-17 19:55] jakob0910 commented on #71
This problem should be fixed.

[2013-10-17 19:55] #71 closed, assigned to jakob0910

[2013-10-17 19:57] jakob0910 commented on #72
It was only a small bug that the message was not shown.

[2013-10-17 19:57] #72 closed, assigned to jakob0910

[2013-10-21 18:17] mniepert opened #76 "Wiki search -- strange behavior"
When I use the Wiki search for the InPhO entity "turing machine" I get a ranking of suggestions that cannot be right.

When using http://lode.informatik.uni-mannheim.de/link/wikiStat to search for turing machine, the first hit is the correct entity "turing machine."

However, there's also something strange about http://lode.informatik.uni-mannheim.de/link/wikiStat

When I search for "turing machin

[2013-10-21 18:48] mniepert opened #77 "Linker interface -- types of links"
Why did you decide against having several types of links in the linker interface. The problem as it is right now, is that you can only create "sameAs" and "differentFrom" links. But what if you want to create a "skos:relatedTo" link? Is there a problem with having this functionality?

[2013-10-22 19:05] sztyler commented on #77
Hi
It would be no problem to add e.g. skos:relatedTo to the Linker but...

A few month ago, you create this ticket...
https://github.com/linkedhumanities/lode/issues/67

I investigate some time in this issue and noticed that skos:xyz is only conform with concepts not with instances. So I removed it from the Linker page....and nobody raise a plea after I wrote it in issue #67. So....if your are thi

[2013-10-22 19:11] mniepert commented on #77
This relates to a deeper questions about the (often ambiguous) distinction
between instances and concepts. For instance, what is dbpedia:animal? Is it
a concept or an instance? I would say it is the former. And what about
inpho:philosophyOfMind? I think the assumption that we only need to create
links between instances in the linker is too restrictive. It should be up
to the user what relations ar

[2013-10-22 19:12] mniepert commented on #77
Just to be clear: #67 was about the enhancer not the linker.

On Tue, Oct 22, 2013 at 12:11 PM, Mathias Niepert mniepert@gmail.comwrote:

[2013-10-22 19:13] mniepert commented on #77
The enhancer can stay the way it is right now.

On Tue, Oct 22, 2013 at 12:11 PM, Mathias Niepert mniepert@gmail.comwrote:

[2013-10-22 19:27] sztyler commented on #77
Ok - I will extend the Linker with the skos:xyz vocabulary

(but #67 has also the tag "Linker" ;))

[2013-10-22 19:29] mniepert commented on #77
This should be something in the configuration section. There should
definitely be an admin interface for this.

On Tue, Oct 22, 2013 at 12:27 PM, sztyler notifications@github.com wrote:

[2013-10-22 19:32] sztyler commented on #77
You mean a configuration interface to define which relations are displayed on the Linker page?

[2013-10-22 19:33] mniepert commented on #77
Yes.

On Tue, Oct 22, 2013 at 12:32 PM, sztyler notifications@github.com wrote:

[2013-10-22 22:46] jakob0910 commented on #76
I added http://lode.informatik.uni-mannheim.de/link/wikiStat only for debug purposes. This page returns the result of a database query containing the search string, and nothing more. As there is an n:m relation between SF and URI, it is absolutely normal that the URIs are not distinct. However, the proposals on the linker page of an entity are distinct.

The problem with "turing machine" was that

[2013-10-22 22:47] #74 closed, assigned to jakob0910

[2013-10-22 22:47] #69 closed, assigned to jakob0910

[2013-10-28 17:49] mniepert commented on #76
It's a lot better now. Any idea why the search takes so much longer than the sparql search?

[2013-10-28 17:50] mniepert opened #78 "Drag and drop support for iOS"
Will this be time consuming to implement? I have word that this doesn't work at the moment.

[2013-10-28 22:53] sztyler commented on #78
Do you mean iOS or MacOS? - The main problem is that Jakob and I do not use or have any apple products. What browser use people on iOS? Safari? - However, we never tested LODE on smartphones or tablets (either iOS or Android).

If someone buys me an iphone I can try to fix these problems.

[2013-10-30 21:31] mniepert opened #79 "Concept filter numbers"
Concept filter buttons should display the number of equivalence classes (induced by sameAs) that have the particular concept. Currently, the number counts every element once.

[2013-10-31 23:55] mniepert opened #80 "Wording of delete area"
It should be:  "Drop here to delete."

[2013-11-05 22:59] sztyler commented on #80
fixed in master 42f0696

[2013-11-05 22:59] #80 closed, assigned to sztyler

[2014-01-08 14:56] sztyler commented on #77
complete in rev. master 63529a73.

Now it is possible to define in the configeration section which relations should be displayed on the Linker or Enhancer page.

[2014-01-08 14:56] #77 closed, assigned to sztyler

[2014-01-08 14:58] jakob0910 commented on #11
We replaced the icon with another one that illustrates a stack. I think it is better to place the icon in front of the name because the icons are aligned one below the other if multiple entities are part of a cluster.

[2014-01-08 14:58] #11 closed, assigned to jakob0910

[2014-01-08 15:01] jakob0910 commented on #79
Fixed.

[2014-01-08 15:01] #79 closed, assigned to nobody

[2014-01-08 15:05] sztyler commented on #76
We added some indexes (MySQL) but these could not improve the execution time - the reason for this is the query itself because the where-clause of the query contains someting like "abc like %word%" - however the first percent sign is very bad in the context of an index evaluation.

[2014-01-08 15:05] #76 closed, assigned to jakob0910

[2014-01-09 18:21] jnoessner opened #81 "Evaluierung beider Algorithmen"
Evaluierung beider Algorithmen an Beispielen von Inpho und Nell mit möglichst vielen der folgenden Maße

http://en.wikipedia.org/wiki/Learning_to_rank#Evaluation_measures

[2014-01-09 18:23] jnoessner opened #82 "Search also for concepts"
Search for concepts with
concept:Philosopher Pluto

[2014-01-14 23:18] sztyler commented on #75
fixed in rev. master d4495356

[2014-01-14 23:18] #75 closed, assigned to sztyler

[2014-01-15 00:27] jakob0910 commented on #82
Done.

[2014-01-15 00:27] #82 closed, assigned to jakob0910

[2014-01-15 00:29] jakob0910 commented on #81
We also need a new InPho file that provides more data properties (names, labels, etc.)-

[2014-01-15 00:30] mniepert commented on #81
Please contact Jaimie (ccd) with these requests.

On Tue, Jan 14, 2014 at 4:29 PM, jakob0910 notifications@github.com wrote:

[2014-01-15 05:13] mniepert commented on #82
Would it be difficult to have autocomplete functionality?  So when one
types the possible concept names are displayed...

On Tue, Jan 14, 2014 at 4:27 PM, jakob0910 notifications@github.com wrote:

[2014-01-15 09:08] jnoessner commented on #82
Works great. It filters concepts and instances while typing... nice!

[2014-01-15 09:16] jnoessner commented on #82
Now I noticed a bug / feature. When I search for

[code]

it displays me (among others)

[code]

However, if I now search for

[code]

results are empty.

The search

[code]

then returns the actual instance. Are you taking the uri for search?

[2014-01-16 00:56] jakob0910 commented on #82
@mniepert I integrated an autocomplete functionality.

@jnoessner The behavior is correct. The name column shows the last part of the URI as the dataset does not provide a label/name. You may have noticed that the value in the name column has no toolip that usually shows the used property.

However, we search the subject and object with query. In your example, we have only the URI (http://www.owl-

[2014-01-16 00:58] jakob0910 commented on #81
fyi: The new file is active on our test system: http://osdorp.informatik.uni-mannheim.de:9000

[2014-01-16 01:19] mniepert commented on #82
Great, I like the autocomplete functionality a lot. It almost renders the
"concept:bla" functionality obsolete.

On Wed, Jan 15, 2014 at 4:56 PM, jakob0910 notifications@github.com wrote:

[2014-01-29 03:37] mniepert opened #83 "Expand doesn't work in enhancer"
http://linkedhumanities.com/enhance/thinker:2886/dbpedia

Go to object properties, click the + button. Witness strangeness.

[2014-01-29 03:43] mniepert opened #84 "Relations between properties and concepts"
When relations between properties and concepts are created (e.g. equivalentProperty, etc.) there's no place where one can see and delete them.

[2014-01-29 03:43] mniepert commented on #84
For instance, I created the equivalentProperty relation between influenced (dbpedia) and influenced (InPhO) and it worked. But there's no way I can change this again or even see it. Am I missing something?

[2014-01-29 20:13] mniepert commented on #84
Example:

The disjointWith statements related to the concept "inpho:thinker"
http://linkedhumanities.com/content/entity/inpho%3Athinker
should be displayed and removable (similar to sameAs realtions between individuals) on the page above.

when one clicks on "Remove Link"

[2014-02-14 22:22] mniepert opened #85 "Linking algorithms for classes and properties"
Similar to individuals, properties and classes have labels. Hence, when a user tries to align properties and classes, a linking algorithm should use these labels (similar to the labels of individuals) to find possible corresponding properties and classes in DBpedia. However, contrary to the alignment of individuals, the linking algorithm should only display properties and classes, respectively, an

[2014-10-18 21:11] JaimieMurdock opened #86 "Error handling on Explore page"
The explore page presently does not show error messages when content loading and filtering does not work. For example, on the [Isis CB instance](http://isiscb.cogs.indiana.edu/content), the following URLs return HTTP 500 errors:
- http://isiscb.cogs.indiana.edu/content/conceptTypeAhead
- http://isiscb.cogs.indiana.edu/content/instances?query=&page=1&nonlinked=false
- http://isiscb.cogs.indiana.edu

[2014-10-19 04:21] #86 closed, assigned to aishuiyer2001

[2014-10-20 19:28] mniepert opened #87 "Linker interface doesn't display entity properties on the left"
This is a bug I noticed on the Indiana server (linkedhumanities.cogs.indiana.edu). This is an old bug which I thought we have fixed. It is also possible that it had been fixed but was not committed.

In the Explorer interface, a click on the DBpedia logo for a particular entity leads to the Linker interface where the properties of the entity are not displayed on the left side. Moreover, only the I

[2014-11-16 17:33] mniepert opened #88 "Unsupported recipient ActorRef type"
This is a bug that occurs a lot when using the Linker. Strangely, it seems that the linking candidates are generated (for a fraction of a second you can see the Linker page with the 5 candidates candidates) but then an exception is thrown and we get the "Oh snap!" page.

Here's the Java exception trace:

java.lang.Exception: java.lang.IllegalArgumentException: Unsupported recipient ActorRef type,

[2014-11-17 22:44] #87 closed, assigned to nobody

[2014-11-17 22:44] mniepert commented on #87
This was an issue resolved in the most recent commit. (Only existed in the cogs.indiana.edu installation)

[2014-11-21 20:00] #88 closed, assigned to nobody

[2015-04-13 17:34] aishuiyer2001 opened #89 "Set default concept filter through the config page"
Currently, the default concept filter is '"http://resources.isisbibliography.org/authority" and it is hard coded in bulk.scala.html.
Need to implement it such that the user can set the default concept filter through the config page, rather than having to go and set it in the codebase.

[2015-05-01 21:03] colinallen opened #90 "missing entity after linking"
I searched for “delany” to find Mary Delany (one of the Orlando names) on the isiscb:cogs.indiana.edu:9001 installation.  Two names came up — Martin Delany, Mary Delany.  I linked Mary to the DBPedia entity. Now, a search only returns Martin regardless of whether the "only non-linked” button has been pressed.